
input:hover {
    cursor:pointer;
}

.smaller-container {
    transform: scale(0.80);
    width: 100%;
}

.zero-container {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbs-container {
    background-color: #f0f2f5;
    padding: 20px 50px;
}

.bradcrumbs-one {
    align-items: center;
}

.h1-breadcrumbs {
    text-align: center;
}

.form_container {
    
}


/* login */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

@media (min-width: 768px) {
    .login_form {
        margin-top: -15px;
    }
    .form_class {
        width: 90%; 
        max-width: 400px; 
        padding: 20px; 
        background-color: #f5f5f5; 
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
    }
}

.account-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-custom {
    @apply bg-blue-500 text-white py-2 px-4 rounded;
  }
  
input:hover {
    cursor:pointer;
}

.login-container{
    height: 100vh;
    padding:10px;
}
.login-container-3{
    margin-top:40px
}

